/*--- Avanquest WebEasy Page Style ---*/


.cc41               { /* Common */
	font            : 58pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc42               { /* Common */
	font            : 20pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc43               { /* Common */
	font            : 28pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc44               { /* Common */
	border          :   0.00pt solid #993399;
	}
.cc45               { /* Common */
	font            : 22pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
div#e10             { /* On Play Store */
	position        : absolute;
	left            : 576.00pt;
	top             : 303.75pt;
	width           : 120.00pt;
	height          : 104.25pt;
	}
div#e12              { /* Free Download */
	position        : absolute;
	left            : 592.50pt;
	top             : 123.00pt;
	width           : 120.00pt;
	height          :  53.25pt;
	}
div#e9              { /* The New World */
	position        : absolute;
	left            : 157.50pt;
	top             :  11.25pt;
	width           : 588.00pt;
	height          :  66.75pt;
	}
div#e8              { /* Make sure to unzip the z... */
	position        : absolute;
	left            : 170.25pt;
	top             : 399.00pt;
	width           : 435.00pt;
	height          : 348.75pt;
	}
img#e11             { /* controls: Move with W,A,... */
	position        : absolute;
	left            : 592.50pt;
	top             : 223.00pt;
	width           : 120.00pt;
	height          :  53.25pt;
	}	
img#e7              { /* larckv1010004.jpg */
	position        : absolute;
	left            :  11.25pt;
	top             :   5.25pt;
	width           :  94.50pt;
	height          :  98.25pt;
	}
div#e6              { /* Home */
	position        : absolute;
	left            :  15.75pt;
	top             :   6.00pt;
	width           : 105.75pt;
	height          :  32.25pt;
	}
img#e5              { /* larckv1010003.gif */
	position        : absolute;
	left            : 577.50pt;
	top             : 114.00pt;
	width           : 130.50pt;
	height          :  72.75pt;
	}
div#e4              { /* Free Download */
	position        : absolute;
	left            : 592.50pt;
	top             : 123.00pt;
	width           : 120.00pt;
	height          :  53.25pt;
	}
img#e3              { /* larckv1010002.gif */
	position        : absolute;
	left            : 571.50pt;
	top             : 202.50pt;
	width           : 130.50pt;
	height          :  72.75pt;
	}
div#e2              { /* Check Stem Competiton */
	position        : absolute;
	left            : 576.00pt;
	top             : 213.75pt;
	width           : 120.00pt;
	height          : 104.25pt;
	}
span#e1             { /* larckv1010001.gif */
	background      : transparent url(larckv1010001.gif) no-repeat top left;
	position        : absolute;
	left            : 109.50pt;
	top             :  84.75pt;
	width           : 452.25pt;
	height          : 313.50pt;
	}
div#page            { /* Page Holder */
	background-color: #33cc00;
	background-image: url(larckv1010b01.gif);
	position        : relative;
	width           : 745.50pt;
	height          : 850.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #33cc00;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
